
//  ████████╗██╗   ██╗██████╗  ██████╗
//  ╚══██╔══╝╚██╗ ██╔╝██╔══██╗██╔═══██╗
//     ██║    ╚████╔╝ ██████╔╝██║   ██║
//     ██║     ╚██╔╝  ██╔═══╝ ██║   ██║
//     ██║      ██║   ██║     ╚██████╔╝
//     ╚═╝      ╚═╝   ╚═╝      ╚═════╝
//

$font: 'Muli', system-ui;

// Typos
$title: 2.6rem;
$p: 1.6rem;

// Typo Bolds

$regular: 400;
$bold: 700;
$black: 800;